---
import Layout from '../layouts/Layout.astro';
import Button from '../components/Button.astro';
import Card from '../components/Card.astro';
import Subscribe from '../components/Subscribe.astro';
import logo from '../../public/logo.svg?raw';
import socialX from '../../public/social-x.svg?raw';
import socialDiscord from '../../public/social-discord.svg?raw';
import socialLinkedIn from '../../public/social-linkedin.svg?raw';

const discordLink = 'https://discord.gg/Abkm7Ewhen';

---

<Layout>
	<header id="header">
		<div class="content">
			<div class="logo">
				<Fragment set:html={logo}></Fragment>
			</div>
			<p class="presenting">PRESENTING CARDINALITY</p>
			<h1>Start observing your Flutter apps</h1>
			<p class="tagline">Subscribe to our waitlist to receive product updates and announcements</p>
			<Subscribe></Subscribe>
			<p class="trusted">Trusted by no-one (yet)</p>
		</div>
	</header>
	<main>
		<div class="content">
			<h3>Cardinality is an app insights platform.</h3>
            <p>
                Cardinality is a platform that offers a wide array of tools to enhance 
                insights into your product. Understanding how users interact with your product isn't 
                easy.
                Cardinality can assist you in gathering and navigating app data so that you can focus 
                on what's important: your users.
            </p>
            <h3>Features</h3>
            <ul class="feature-list">
                <Card title="Easily add to existing applications" description="The Cardinality SDK can be integrated into any Flutter or Dart application."></Card>
                <Card title="Full insights into your data" description="With the Cardinality web app you can see all your user sessions and analytic data in one place."></Card>
                <Card title="Integrated querying language" description="Create and customize your own dashboards in the web app with the Cardinality Query Language (CQL)"></Card>
                <Card title="Secret feature" description="We are still cooking this secret Cardinality feature but it will elevate the insights into your application to the next level."></Card>
            </ul>
            <h3>How to get started?</h3>
            <p>
                We are currently working on getting the first release of Cardinality out in Q4 of 2024.
                If you want to stay updated, you can subscribe to our waiting list or join the Cardinality discord
                where you will be able to talk to us and the community directly!
            </p>
            <div class="actions">
                <Button href="#header">Join the waitlist</Button>
                <Button href={discordLink} target="_blank">Or join our Discord</Button>
            </div>
		</div>
	</main>
	<footer>
		<div class="content">
			<div class="left">
				© Cardinality • All Rights Reserved
			</div>
			<div class="right">
				<div class="social">				
					<a href="https://x.com/cardinality_run">
						<Fragment set:html={socialX}></Fragment>
					</a>
				</div>
				<div class="social">
					<a href={discordLink}>
						<Fragment set:html={socialDiscord}></Fragment>
					</a>
				</div>
				<div class="social">
					<a href="https://www.linkedin.com/company/cardinality_run/">
						<Fragment set:html={socialLinkedIn}></Fragment>
					</a>
				</div>
			</div>
		</div>
	</footer>
</Layout>

<style>
	main {
		background-color: rgb(var(--background-content));
		color: rgb(var(--foreground-content));
		font-size: 20px;
		line-height: 1.6;
	}
	.actions {
		display: flex;
		gap: 1rem;
		flex-direction: row;
	}
    @media only screen and (max-width: 400px) {
        .actions {
			flex-direction: column;
        }
    }
	.content {
		margin: auto;
		padding: 2rem;
		width: 800px;
		max-width: calc(100% - 4rem);
	}
	footer {
		font-size: 18px;
		line-height: 1.6;
	}
	footer .content {
		padding: 2rem 1rem;
		display: flex;
		flex-direction: row;
		align-items: center;
	}
	footer .left {
		flex: 1;
		display: inline-block;
		vertical-align: middle;
	}
	footer .right {
		flex: 1;
		justify-content: end;
		display: flex;
	}
	.social {
		display: inline-block;
		width: 1.5rem;
		height: 1.5rem;
		padding: 1rem;
		margin-left: 1rem;
	}
	.social a {
		color: rgb(var(--foreground-content));
		text-decoration: none;
	}
	.social a:hover {
		color: rgb(var(--accent));
	}
	header {
		font-size: 20px;
		line-height: 1.6;
		max-height: 100vh;
		text-align: center;
		position: relative;
	}
	header .content {
		width: 100%;
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	header .content .logo {
		width: 8rem;
		height: 8rem;
		display: inline-block;
		margin-left: auto;
		margin-right: auto;
		margin-top: -2em;
	}
	h1 {
		font-size: 2.5rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-top: 0em;
		margin-bottom: 0em;
	}
	p.presenting {
		font-size: 1rem;
		line-height: 1.5;
		text-align: center;
		margin-top: 1em;
		margin-bottom: 1em;
		letter-spacing: 0.5rem;
	}
	p.tagline {
		margin-top: 2rem;
		font-size: 1.5rem;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;

	}
	p.trusted {
		margin-top: 0.5rem;
		font-size: 1rem;
		line-height: 1;
		text-align: center;
		margin-bottom: 2em;
	}
	.feature-list {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
